@charset "EUC-KR";

/*******************************************************************************************************
 header 없는 테이블 디자인
*******************************************************************************************************/
.table th {
	padding: .75rem 1.25rem;
	font-size: 12px;
}

.table .tbody-xs td {
	padding: .9rem .5rem;
}

.modal-header {
	padding: 0.8rem 1.25rem;
}

.info-content {
    padding: 1rem 0.75rem;
}

.info-title {
 	/* color: #5D5D5D; */
 	font-weight: bold;
    color: #353535;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #D5D5D5;
}