@charset "EUC-KR";

body { font-family:myFirstFont, NanumGothic,Verdana,Dotum,"돋움",sans-serif; font-size:14px; color:#000; }
@font-face { font-family:myFirstFont; src:local('NanumGothic') }
input, select, textarea { font-size:12px; font-family:myFirstFont, NanumGothic,Verdana,Dotum,"돋움",sans-serif; color:#000; }
* { -webkit-text-size-adjust:none; }

/*******************************************************************************************************
  공통 디자인
*******************************************************************************************************/
.fs-11 { font-size: 11px !important; }
.fs-12 { font-size: 12px !important; }
.fs-16 { font-size: 16px !important; }
.fs-18 { font-size: 18px !important; }
.fs-20 { font-size: 20px !important; }

.swal2-title {
	font-weight: bold;
}

/*******************************************************************************************************
 header 디자인
*******************************************************************************************************/
.navbar-light {
	/* border-bottom-color: white; */
}

.navbar-brand {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-brand img {
	height: 40px;
}

.header-icon [class^="icon-"] {
	font-size: 24px;
}

/*******************************************************************************************************
 Table 디자인
*******************************************************************************************************/
.table th {
	font-weight: 600;
}

.datatable-header {
	padding-top: 0rem;
	border-bottom: 0;
}

.dataTables_wrapper .table-bordered {
    border: 1px solid #ddd !important;
}

.dataTables_paginate .paginate_button.disabled, .dataTables_paginate .paginate_button.disabled:focus, .dataTables_paginate .paginate_button.disabled:hover {
	background-color: transparent;
}

/*******************************************************************************************************
 cotent 디자인
*******************************************************************************************************/
.layout-boxed .page-content {
	/* background-color: white; */
}

.cotent-title {
	font-weight: bold;
 	color: #5D5D5D;
}
