@charset "EUC-KR";

/*******************************************************************************************************
 navbar 디자인
*******************************************************************************************************/
.subject-content .navbar, .navbar-collapse {
	margin: 0;
    padding: 0;
}

.navbar-component {
	border: 0px;
}

.navbar-expand.navbar-dark .navbar-collapse {
	border-top: 0px;
}

.navbar-expand .navbar-expand {
	display: flex !important;
	flex-basis: auto !important;
}

.navbar-expand .navbar-nav-link {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar-expand .navbar-nav:first-child>.nav-item:first-child {
	margin-top: 0;
}

.navbar-expand .navbar-nav:last-child>.nav-item:not(.show):last-child {
	margin-bottom: 0;
}

.navbar-nav {
    width: 100%;
    height: 60px;
}

.navbar-nav li {
    width: 25%;
}

.navbar-nav a {
	font-size: 12px;
	text-align: center;
    text-indent: 3px;
    text-shadow: 1px 1px 1px #8C8C8C;
}

.navbar-nav-link {
	height: 100%;
	justify-content: center;
	flex-direction: column;
}

.nav-border-left {
	border-left: 1px solid #008299;
}

/*******************************************************************************************************
 card 디자인
*******************************************************************************************************/
.btn-group-sm>.btn, .btn-sm {
    padding: .3rem .45rem;
    font-size: .7rem !important;
    line-height: 1.5385;
    margin-top: 1px;
}

.card-group-control {
	background: #fff !important;
}

.card {
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: 0;
	/* box-shadow: 0 0px 0px rgba(0,0,0,.05) */
}

.card-last {
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header {
	padding: .75rem .75rem;
	border-bottom: 0;
}

.card-header:not([class*=bg-]):not([class*=alpha-]) {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.card-group-control .card-title>a.collapsed:before {
    content: "\e9c9";
    padding-top: 2px;
    font-weight: 600;
}

.card-group-control .card-title>a:before {
	content: "\e9ca";
	padding-top: 2px;
	font-weight: 600;
}

.card-group-control-left .card-title>a {
	padding-left: 1.2rem;
}

.card-body {
	padding: 1rem 1rem;
	border-top: 1px solid rgba(0,0,0,.125);
}

.card-body .col-form-label {
	font-size: 13px;
	padding: 0 0 0.3rem 0;
}

.card-body .icon-plus3 {
	font-size: 10px;
	font-weight: bold;
}

.subject-group .card-header {
	padding: .9375rem;
}

.subject-group .card-header a {
	font-size: 14px;
	letter-spacing: 0em;
}

.subject-group .card-title>a {
    padding-left: 1.625rem !important;
}

.subject-group .btn-sm {
	padding: .3125rem .65rem;
}

/*******************************************************************************************************
 mylist 디자인
*******************************************************************************************************/
.mylist-header {
	width: 80px;
	margin-left: 1rem !important;
	justify-content: flex-end;
}

.result-empty {
	background: white;
	text-align: center;
	padding: 1.2rem 0;
	font-size: 15px;
	border: 1px solid #D5D5D5;
}

.mylist-result {
    width: 100%;
    background: #f3f3f3;
    border-top: 1px solid rgba(0,0,0,.125);
}

.mylist-result li {
	padding: 0.4rem 1rem;
}

.mylist-result .advice {
	border-top: 1px solid rgba(0,0,0,.125);
	font-weight: bold;
    color: #0089ed;
}

.text-right {
    padding: 5px 0 5px 0;
    text-align: right;
    line-height: 2em;
}

.mylist-group .card-header {
	padding: .9375rem 0.45rem;
}
